.btn {
    &-year {
        width: 100%;
        // min-width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        padding: 10px 0px;
        border: 1px solid #999999;
        color: #323941;
        font-size: 13px;
        line-height: 15px;
    }
}

@media screen and (max-width: 700px) {
    .btn {
        &-year {
            font-size: 18px;
            line-height: 18px;
            transition: 0.3s ease-in;
            &:hover {
                background: #009EFF;
                color: #fff;
              }
            p {
                display: none;
            }
        }
       
    }
}