.folding {
    padding-top: 50px;
    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__text {
        padding: 0 20px;
        margin: 0 auto ;
        overflow: hidden;
        max-height: 248px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #000;
        &__title {
            font-weight: 700;
            font-size: clamp(20px, 5vw, 50px);
            line-height: clamp(24px, 5vw, 60px);
        }
        &__description {
            font-weight: 300;
            font-size: clamp(15px, 3vw, 18px);
            line-height: clamp(18px, 5vw, 22px);
        }
    }
}

@media screen and (max-width: 700px) {
    .folding {
        &__text {
            color: #323941;
        }
    }
}